<li>
  <a href="<%= destroy_user_session_path %>" data-turbo-method="delete" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
    <%= render "sidebar/icons/logout" %>
    <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
  </a>
</li>
